.card1 {
    height: 550px;
    width: 400px;
    font-family: Arial;
    position: relative;
    overflow: hidden;
    top: 50px;
    margin: 0 0 0 28px;
    display: inline-block;
    font-family: 'Arial';
}

.card1 a {
    font-size: 24px;
    font-family: 'Arial';
    color: rgb(220,220,220);
    transition: all 3s;
}

.textC1:hover > .more1 {
    transform: skew(0deg, 0deg) translateY(300px);
    /*background: rgba(0, 0, 255, 1);*/
}

.heading1 {
    font-size: 28px;
    font-family: Verdana;
    position: relative;
    overflow: hidden;
}

.row {
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    left: 0;
    right: 0;
}
.tours {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    color: #08457e;
    font-size: 38px;
    font-family: 'Arial';
    margin: 0 0 0 28px;
}
.blockImg1 {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.more1 {
    width: 100%;
    height: 210px;
    position: absolute;
    z-index: 1000;
    font-size: 20px;
    /* background: rgba(8, 69, 126, 1); */
    background: linear-gradient(to top, #1DB0D8 10%, #08457e 90%) no-repeat 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    transition: transform 0.5s, background 0.5s;
    transform: skew(0deg, 7deg) translateY(450px); /* Equal to skewX(10deg) */
    overflow: hidden;
}

.img1 {
    font-size: 120%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333366;
    width: 500px;
    height: 300px;
    position: absolute;
    overflow: hidden;
}

.more1 p {
    font-size: 24px;
    font-family: 'Arial';
    color: rgb(255,255,255);
    transition: all 3s;
}

.MainBlock {
    position: relative;
    padding-top: 50px;
    padding-left: 10%;
}

.MainForm {
    display: flex;
}

.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
    margin: 20px;
}

.input-field label {
    position: absolute;
    font-family: 'Arial';
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
}

.input-field input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #d3d3d3;
    }

.input-field input:invalid {
    outline: 0;
}

.input-field input:focus,
.input-field input:valid {
    border-color: #08457e;
    color: #08457e;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    font-size: 14px;
    top: -24px;
    color: #08457e;
}

.input-field .topic {
    top: -24px;
    font-size: 14px;
}

.input-batton {
    position: relative;
    width: 250px;
    height: 44px;
    /* margin: 0 20px; */
    margin: auto;
    left: 0;
    right: 0;
}

.input-batton input {
    border-radius: 20px;
    border: 1px solid #08457e;
    background: #08457e;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    }

.input-batton input:active {
    /*background: #08457e;
    color: #FFF;*/
    transform: scale(.95);
}