* {
    border: none;
}

.tours {
    position: relative;
    font-family: 'Arial';
    padding-left: 110px;
    font-size: 38px;
    color: #08457e;
    right: 0;
    left: 0;
}

.row {
    position: relative;
    padding-top: 50px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    width: 90%;
    right: 0;
    left: 0;
}

.card1 {
    height: 500px;
    background: #F8F8F8;
    width: 400px;
    font-family: 'Arial';
    position: relative;
    margin: 0 14px 50px 14px;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    font-family: 'Arial';
}

.card1 a {
    font-size: 24px;
    font-family: 'Arial';
    color: rgb(220,220,220);
    transition: all 3s;
}

.blockImg1 {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.img1 {
    font-size: 120%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333366;
    width: 500px;
    height: 300px;
    position: absolute;
}

.textC1 {
    position: relative;
    overflow: hidden;
    height: 200px;
}

    .textC1 a {
        color: #08457e;
        font-family: 'Arial';
        font-size: 15px;
        position: relative;
        margin: 0 14px 50px 14px;
    }
.mainText {
    height: 70px;
    width: auto;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    margin-bottom: 5px;
}
.more1 {
    position: absolute;
    font-size: 20px;
    height: 210px;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to top, #1DB0D8 10%, #08457e 90%) no-repeat 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    transition: transform 0.5s, background 0.5s;
    transform: skew(0deg, 7deg) translateY(160px); /* Equal to skewX(10deg) */
}

.textC1:hover > .more1 {
    transform: skew(0deg, 0deg) translateY(0px);
    /*background: rgba(0, 0, 255, 1);*/
}

.heading1 {
    font-size: 28px;
    padding: 10px 0 0 15px;
    font-family: Verdana;
    position: relative;
}

.t1 p {
    padding: 15px 25px;
    text-align: justify;
}

.more1 p {
    font-family: 'Arial';
    font-size: 24px;
    color: #FFF;
    transition: all 3s;
}

.button {
    text-decoration: underline;
}

.MainBlock {
    position: relative;
    padding-top: 50px;
    height: 200px;
    width: 100%;
}

.MainForm {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.input-field {
    position: relative;
    line-height: 44px;
    width: 250px;
    height: 44px;
    margin: 20px;
}

.input-field label {
    position: absolute;
    font-family: 'Arial';
    color: #d3d3d3;
    width: 100%;
    left: 0;
    top: 0;
    cursor: text;
    transition: 0.2s all;
}

.input-field input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #d3d3d3;
    }

.input-field input:invalid {
    outline: 0;
}

.input-field input:focus,
.input-field input:valid {
    border-color: #08457e;
    color: #08457e;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    font-size: 14px;
    top: -24px;
    color: #08457e;
}

.input-field .topic {
    top: -24px;
    font-size: 14px;
}

.input-batton {
    position: relative;
    height: 44px;
    width: 225px;
    /* margin: 0 20px; */
    margin: auto;
    right: 0;
    left: 0;
}

.input-batton input {
    border-radius: 20px;
    background: #08457e;
    color: #fff;
    min-width: 100%;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    }

.input-batton input:active {
    transform: scale(.95);
}

.text-input {
    border: 2px solid #08457e;
    position: relative;
    width: 500px;
    height: 200px;
    border-bottom: 2px solid #d3d3d3;
    border-left: 2px solid #d3d3d3;
    border-right: 2px solid #d3d3d3;
    border-top: 2px solid #d3d3d3;
    margin: 20px;
}

.MainBlockAdd {
    position: relative;
    padding-top: 50px;
    height: 200px;
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: grid;
}
.btnNewsAdd {
    margin-top: 25px;
}